:root {
    --main-color: #c7e4c8
}

body {
    background-color: var(--main-color);
}
nav 
{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    font-size: 2.5vw;
}
nav a{
    text-decoration:none;
    color:black;
}
nav a:visited{
    color:black;
}
.heading
{
    background-image:url("../images/Everest.webp");
    position: relative;
    overflow:hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding:20px 10px;
    font-size: 4vw;
    margin-bottom: 2vh;
}
.heading::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("images/Everest.webp");
    background-size: cover;
    background-position: center;
    opacity: 0.35;       
    z-index: -1;
}

h1, h4{
    text-align: center;
}
.heading h4{
    color:#ffffff;
}

.footer{
    text-align:center;
    padding: 60px 7vw;
    background-color:rgb(250, 248, 248);
    border-top:1px solid rgba(255,255,255,0.2);
    font-size:1.2vw;
}

.mail {
    width: 100%;
    display: flex;
    justify-content: center;   
    margin-top: 40px;          

}

.mail form {
    display: flex;
    flex-direction: column;   
    align-items: center;       
    padding: 20px 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;              
    background: #f9f9f9;       
}

/* Style inputs */
.mail input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 14px;
}

/* Submit button */
#submitBtn {
    background-color: #333;
    color: white;
    cursor: pointer;
}

#submitBtn:hover {
    background-color: #555;
}
.info-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 80px 5%;
    background: #ffffff; 
    text-align: center;
}

.info-box i {
    font-size: 45px;
    color: #ffffff;
    margin-bottom: 20px;
}

.info-box h3 {
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 700;
}

.info-box p {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.6;
}
.info-box a{
    color:#ffffff;
    text-decoration: none;
}

@media (max-width: 900px) {
    .info-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}

@media (max-width: 600px) {
    .info-section {
        grid-template-columns: 1fr;
        padding: 60px 8%;
    }
}
.info-section
{
    background-color: #00382c;
    color: white;
}