body{
    background-color: #d8cab8;
    box-sizing: border-box;
}
.first{
    /* border: 1px solid black; */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.first > h1{
    font-size: 10vw;
}
.second{
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1738291422837-85761f82a10e?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.menu-list{
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section{
    display: flex;
    /* justify-content:center; */
    width: 100%;
    padding: 16px;

    outline: 1px solid black;



}
.section-container{
    width: 25%;
    font-size: 1.5vw;
    font-weight: 600;

    align-self: flex-start;


    position: relative;

}
.section-container > div{
    /* border: 1px solid black; */

    position: absolute;
    top: 0;
    z-index: 1;

    font-size: 2.2vw;


}

.item-section{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.each-item{
    width: 49%;
    height: 100px;
    outline: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 10px;
}

.each-item > div:first-child{
    font-weight: 600;
    font-size: 1.2vw;
}
.item-description{
    width: 100%;
    display: flex;
    align-items: end;
}