
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    overflow-x: hidden;
    /* font-family: "Explora", serif; */
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
      
}


.blur{
    background-color: rgba(255, 255, 255, 0.355);
    backdrop-filter: blur(16px);
}