:root {
    --main-color: rgb(47, 45, 45);
}

body {
    background-color: var(--main-color);
    color: white
}


#cursor {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgba(255, 255, 0, 0.5);

    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    font-weight: 800;



}

.first {
    width: 100%;
    height: 90vh;
    /* background-color: black; */
    /* color: white; */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;

    /* background-image: url(./images/landingPageBackground.png); */
    /* background-size: cover; */
}

.first nav {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    font-size: 2.5vw;
}


.first>h1 {
    font-size: 12vw;
    overflow: hidden;
    padding-left: 24px;
}

.first h1 span {
    display: inline-block;
}


#menu {

    height: 100vh;
    width: 40%;
    position: absolute;
    top: 0px;
    right: -40%;

    padding: 150px 64px;
    font-size: 48px;
}

#menu h4 {
    margin: 20px 4px;
    font-weight: bold;
}

#menu i {
    position: absolute;
    top: 48px;
    right: 52px;
}

.video-div {
    width: 100vw;
    height: 100vh;
    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-div video {
    width: 100%;
    height: 100vh;
    object-fit: cover;

    z-index: 11;



}

.second {
    width: 100%;
    min-height: 100vh;
    /* background-color: white; */

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* padding-left: 15vw; */
    background-color: black;


}



.second>div:first-child {
    /* font-family: "Explora", serif; */
    font-size: 4vw;
    height: 100px;

    color: white;


}

.second>div {
    width: 50%;
    font-size: 2vw;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.385);

    display: flex;
    justify-content: center;
    align-items: center;
}


.second span {
    display: inline-block;
    padding: 4px 0;

}

.second svg {
    width: 50%;
    height: 150px;
}

.second svg path {
    stroke-width: 5;
}

#container-for-loop-banner {
    height: 20vh;
    position: relative;
    z-index: 99;
    background-color: black;
}

#move {
    background-color: rgb(234, 255, 0);
    font-size: 32px;
    display: flex;
    height: 15vh;
    overflow: hidden;
    width: 100vw;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    color: black;
}

#move i {
    font-size: 70px;
}

#move>div {
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 16px 1.5vw;

    flex-shrink: 0;

}

.card img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}

section {
    position: relative;
    width: 100vw;
    height: 100svh;
    overflow: hidden;


}

.sticky-text {
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.sticky-text div {
    flex-grow: 1;

    font-size: 5vw;
    overflow: hidden;

    border-bottom: 1px solid white;

}

/* #sticky-text-1{ margin-right: 40%;}
#sticky-text-2{ margin-right: 30%;}
#sticky-text-3{ margin-right: 20%;}
#sticky-text-4{ margin-right: 10%;} */





.sticky-cards {
    width: 100vw;
    height: 100vsh;
    display: flex;

    overflow: hidden;


    gap: 2vw;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* background-color: var(--main-color); */
    background-image: url(https://images.unsplash.com/photo-1622277695245-c1694a6c0b36?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cards-container {
    position: relative;
    width: 50%;
    height: 70%;
    overflow: hidden;


}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.third {
    width: 100%;
    height: 100vh;
}