 body{
    background-color: #d8cab8;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.cursor{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: fixed;
  top: 50px;
  left: 50px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  font-weight: 600;
  font-size: 1.2vw;

}
.cursor img{
    scale: 0.4;
}
#cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;

    border-radius: 50%;
    position: fixed;
    z-index: 1 ;
    top: 15vh;
    right: 10px;
}
#cart i{
    font-size: 300%;
}

#cart a{
    text-decoration: none;
    color: black;

}

.first{
    /* border: 1px solid black; */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.first > h1{
    font-size: 10vw;
}
.second{
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1682862279256-b2a9e4f3d22c?q=80&w=1548&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.menu-list{
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section{
    display: flex;
    justify-content:center;
    width: 100%;
    /* padding: 16px; */
    /* flex-direction: column; */


    border: 1px solid black;


}
.section-container{
    width: 35%;

    align-self: center;


    align-self: stretch;

    position: relative;

}
.section-container > div{

   
    font-size: 2.7vw;
    text-align: center;

}

.item-section{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    /* gap: 16px; */

}

.each-item{
    width: 49%;
    height: 150px;
    border: 1px solid black;
    margin-top: -1px;
    margin-left: -1px;
    display: flex;
    /* gap: 16px; */
    flex-wrap: wrap;


    justify-content: space-between;
    padding: 16px 18px;
    /* background-color: #00382c; */
    /* color: white; */



}

.each-item > div:first-child{
    font-weight: 600;
    font-size: 1.2vw;}

.each-item > div:nth-child(2){
    text-decoration: underline;
}

.each-item button{
    border: none;
    background-color: #d8cab8;
    font-size: 1.3vw;
    display: flex;
    align-items: self-start;
}
.item-description{
    width: 100%;
    display: flex;
    align-items: end;
}

footer{
    margin-top: 10vh;
    width: 100vw;
    height: 100vh;

    background-color: #00382c;
    color: white;

    padding: 32px 24px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between  ;

    background-image: url(../images/footer-background-transparent.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}


.footer-info{

    display: flex;
    gap: 16px;
    font-size: 18px;
}

.footer-info > div{
    width: 20%;
}

.footer-info > div h1{
    font-size: 3vw;
}
footer a{
    color: white;
    text-decoration: none;
}

.footer-name{
    font-size: 10vw;
    text-align: center;

    
}

.social-media{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.social-media >div {
    font-size: 48px;
}

